In [4]:
%matplotlib inline

In [5]:
# stdlib imports
from datetime import datetime

# third party libraries
import pandas as pd
import numpy as np

# local libraries
from libcomcat.dataframes import associate

# Associating Earthquake Catalogues

A fairly common task at the GHSC is associating catalogues of earthquakes from various sources with events in ComCat. We've created an *associate()* function which should automate a good portion of this process, minus data cleaning. This notebook will hopefully address some of the more common issues involved with data cleaning, including:

 - Dealing with missing data
 - Converting date/time values to pandas datetime/timestamp objects
 - Adjusting time/distance/magnitude tolerances to accomodate uncertainty

In [6]:
datafile = '../tests/data/sample_catalogue.csv'
DMINUTE = 60 # number of seconds in a minute
DHOUR = 3600 # number of seconds in an hour
DDAY = 86400 # number of seconds in a day

## Sample Dataset

This dataset is a severely down-sampled (in both rows and columns) NOAA macroseismic intensity table. It has a couple of notable issues that need to be dealt with:

 - Date and time information is spread out through six different columns
 - Some of that date and time information is missing

In [7]:
dataframe = pd.read_csv(datafile)
dataframe

,YEAR,MONTH,DAY,HOUR,MINUTE,SECOND,MAGNITUDE,LATITUDE,LONGITUDE,CITY,MMI
0,1904,8.0,27.0,21.0,56.0,6.0,8.3,65.48,-150.30,RAMPART,6.0
1,1908,5.0,15.0,8.0,31.0,36.0,7.0,59.00,-141.00,CAPE YAKATAGA,6.0
2,1909,9.0,8.0,17.0,49.0,48.0,7.4,52.50,-169.00,ALEUTIAN ISLANDS,5.0
3,1911,9.0,22.0,5.0,1.0,24.0,6.9,60.50,-149.00,PRINCE WILLIAM SOUND,8.0
4,1912,1.0,31.0,20.0,11.0,48.0,7.3,61.00,-147.50,VALDES,6.0
5,1912,6.0,7.0,9.0,55.0,54.0,6.4,59.00,-153.00,KANATAK,5.0
6,1912,6.0,10.0,16.0,6.0,6.0,7.0,59.00,-153.00,NaN,3.0
7,1912,7.0,7.0,7.0,57.0,36.0,7.4,64.00,-147.00,KENNECOTT,5.0
8,1912,7.0,7.0,21.0,57.0,36.0,7.4,64.00,-147.00,FAIRBANKS,6.0
9,1912,11.0,7.0,7.0,40.0,24.0,7.5,57.50,-155.00,SEWARDOTT,NaN
10,1727,11.0,10.0,3.0,40.0,NaN,NaN,42.80,-70.80,NEWBURY,8.0
11,1732,9.0,16.0,16.0,0.0,NaN,NaN,45.50,-73.60,MONTREAL,9.0
12,1737,2.0,17.0,21.0,30.0,NaN,NaN,42.40,-71.00,BOSTON,4.0
13,1737,12.0,19.0,4.0,0.0,NaN,NaN,40.80,-74.00,NEW YORK,7.0
14,1741,6.0,24.0,15.0,35.0,NaN,NaN,42.20,-71.20,BOSTON,5.0
15,1744,6.0,14.0,15.0,15.0,NaN,NaN,42.60,-70.90,BOSTON,6.0
16,1755,11.0,18.0,9.0,11.0,NaN,NaN,42.60,-70.00,BOSTON,8.0
17,1755,11.0,18.0,10.0,29.0,NaN,NaN,42.60,-70.00,SCITUATE,7.0
18,1755,11.0,23.0,1.0,27.0,NaN,NaN,42.70,-70.30,BOSTON,5.0
19,1758,4.0,25.0,2.0,30.0,NaN,NaN,38.90,-76.50,ANNAPOLIS,4.0
20,1857,9.0,8.0,21.0,NaN,NaN,NaN,NaN,NaN,KODIAK,5.0
21,1872,11.0,23.0,5.0,NaN,NaN,NaN,42.00,-124.00,CRESCENT CITY,7.0
22,1873,11.0,23.0,5.0,NaN,NaN,NaN,42.00,-124.00,JACKSONVILLE,6.0
23,1880,9.0,29.0,4.0,NaN,NaN,NaN,56.00,-156.00,CHIRIKOF ISLAND,6.0
24,1883,10.0,6.0,18.0,NaN,NaN,NaN,59.00,-154.00,MT ST AUGUSTINE,5.0
25,1914,12.0,29.0,1.0,NaN,NaN,NaN,NaN,NaN,AGUANGA,5.0
26,1915,4.0,3.0,2.0,NaN,NaN,NaN,NaN,NaN,EL CAJON,3.0
27,1917,6.0,6.0,5.0,NaN,NaN,NaN,NaN,NaN,SAUGUS,3.0
28,1917,6.0,17.0,6.0,NaN,NaN,NaN,NaN,NaN,HEBER,5.0
29,1918,1.0,14.0,0.0,NaN,NaN,NaN,40.83,-124.17,EUREKA,NaN
30,1785,7.0,11.0,NaN,NaN,NaN,NaN,18.50,-64.00,TORTOLA,7.0
31,1788,7.0,27.0,NaN,NaN,NaN,NaN,55.00,-161.00,ALASKA PENINSULA AREA,5.0
32,1800,3.0,17.0,NaN,NaN,NaN,NaN,39.80,-75.20,PHILADELPHIA,5.0
33,1800,10.0,11.0,NaN,NaN,NaN,NaN,37.00,-119.50,SAN JUAN BAUTISTA,7.0
34,1800,11.0,29.0,NaN,NaN,NaN,NaN,39.80,-75.20,PHILADELPHIA,5.0
35,1803,5.0,25.0,NaN,NaN,NaN,NaN,32.50,-117.00,SAN DIEGO,6.0
36,1805,8.0,12.0,NaN,NaN,NaN,NaN,41.50,-72.50,EAST HADDAM,5.0
37,1806,3.0,24.0,NaN,NaN,NaN,NaN,34.50,-119.50,SANTA BARBARA,6.0
38,1808,6.0,21.0,NaN,NaN,NaN,NaN,38.00,-122.50,SAN FRANCISCO,7.0
39,1824,4.0,20.0,NaN,NaN,NaN,NaN,18.40,-64.90,SAINT THOMAS,7.0

### Deal with missing time data and resulting accuracy issues

First identify the rows where we have missing time data.  We'll create an "accuracy" field based on the most signicant missing time column that we'll use to determine a time tolerance value.

In [8]:
# get the indices of the rows where seconds, minutes, or hours are missing
idx_sec = dataframe['SECOND'].isnull()
idx_minute = dataframe['MINUTE'].isnull()
idx_hour = dataframe['HOUR'].isnull()

# create an accuracy column that reflects the greatest lack of resolution
dataframe['accuracy'] = 0
dataframe.loc[idx_sec, 'accuracy'] = DMINUTE
dataframe.loc[idx_minute, 'accuracy'] = DHOUR
dataframe.loc[idx_hour, 'accuracy'] = DDAY

dataframe

,YEAR,MONTH,DAY,HOUR,MINUTE,SECOND,MAGNITUDE,LATITUDE,LONGITUDE,CITY,MMI,accuracy
0,1904,8.0,27.0,21.0,56.0,6.0,8.3,65.48,-150.30,RAMPART,6.0,0
1,1908,5.0,15.0,8.0,31.0,36.0,7.0,59.00,-141.00,CAPE YAKATAGA,6.0,0
2,1909,9.0,8.0,17.0,49.0,48.0,7.4,52.50,-169.00,ALEUTIAN ISLANDS,5.0,0
3,1911,9.0,22.0,5.0,1.0,24.0,6.9,60.50,-149.00,PRINCE WILLIAM SOUND,8.0,0
4,1912,1.0,31.0,20.0,11.0,48.0,7.3,61.00,-147.50,VALDES,6.0,0
5,1912,6.0,7.0,9.0,55.0,54.0,6.4,59.00,-153.00,KANATAK,5.0,0
6,1912,6.0,10.0,16.0,6.0,6.0,7.0,59.00,-153.00,NaN,3.0,0
7,1912,7.0,7.0,7.0,57.0,36.0,7.4,64.00,-147.00,KENNECOTT,5.0,0
8,1912,7.0,7.0,21.0,57.0,36.0,7.4,64.00,-147.00,FAIRBANKS,6.0,0
9,1912,11.0,7.0,7.0,40.0,24.0,7.5,57.50,-155.00,SEWARDOTT,NaN,0
10,1727,11.0,10.0,3.0,40.0,NaN,NaN,42.80,-70.80,NEWBURY,8.0,60
11,1732,9.0,16.0,16.0,0.0,NaN,NaN,45.50,-73.60,MONTREAL,9.0,60
12,1737,2.0,17.0,21.0,30.0,NaN,NaN,42.40,-71.00,BOSTON,4.0,60
13,1737,12.0,19.0,4.0,0.0,NaN,NaN,40.80,-74.00,NEW YORK,7.0,60
14,1741,6.0,24.0,15.0,35.0,NaN,NaN,42.20,-71.20,BOSTON,5.0,60
15,1744,6.0,14.0,15.0,15.0,NaN,NaN,42.60,-70.90,BOSTON,6.0,60
16,1755,11.0,18.0,9.0,11.0,NaN,NaN,42.60,-70.00,BOSTON,8.0,60
17,1755,11.0,18.0,10.0,29.0,NaN,NaN,42.60,-70.00,SCITUATE,7.0,60
18,1755,11.0,23.0,1.0,27.0,NaN,NaN,42.70,-70.30,BOSTON,5.0,60
19,1758,4.0,25.0,2.0,30.0,NaN,NaN,38.90,-76.50,ANNAPOLIS,4.0,60
20,1857,9.0,8.0,21.0,NaN,NaN,NaN,NaN,NaN,KODIAK,5.0,3600
21,1872,11.0,23.0,5.0,NaN,NaN,NaN,42.00,-124.00,CRESCENT CITY,7.0,3600
22,1873,11.0,23.0,5.0,NaN,NaN,NaN,42.00,-124.00,JACKSONVILLE,6.0,3600
23,1880,9.0,29.0,4.0,NaN,NaN,NaN,56.00,-156.00,CHIRIKOF ISLAND,6.0,3600
24,1883,10.0,6.0,18.0,NaN,NaN,NaN,59.00,-154.00,MT ST AUGUSTINE,5.0,3600
25,1914,12.0,29.0,1.0,NaN,NaN,NaN,NaN,NaN,AGUANGA,5.0,3600
26,1915,4.0,3.0,2.0,NaN,NaN,NaN,NaN,NaN,EL CAJON,3.0,3600
27,1917,6.0,6.0,5.0,NaN,NaN,NaN,NaN,NaN,SAUGUS,3.0,3600
28,1917,6.0,17.0,6.0,NaN,NaN,NaN,NaN,NaN,HEBER,5.0,3600
29,1918,1.0,14.0,0.0,NaN,NaN,NaN,40.83,-124.17,EUREKA,NaN,3600
30,1785,7.0,11.0,NaN,NaN,NaN,NaN,18.50,-64.00,TORTOLA,7.0,86400
31,1788,7.0,27.0,NaN,NaN,NaN,NaN,55.00,-161.00,ALASKA PENINSULA AREA,5.0,86400
32,1800,3.0,17.0,NaN,NaN,NaN,NaN,39.80,-75.20,PHILADELPHIA,5.0,86400
33,1800,10.0,11.0,NaN,NaN,NaN,NaN,37.00,-119.50,SAN JUAN BAUTISTA,7.0,86400
34,1800,11.0,29.0,NaN,NaN,NaN,NaN,39.80,-75.20,PHILADELPHIA,5.0,86400
35,1803,5.0,25.0,NaN,NaN,NaN,NaN,32.50,-117.00,SAN DIEGO,6.0,86400
36,1805,8.0,12.0,NaN,NaN,NaN,NaN,41.50,-72.50,EAST HADDAM,5.0,86400
37,1806,3.0,24.0,NaN,NaN,NaN,NaN,34.50,-119.50,SANTA BARBARA,6.0,86400
38,1808,6.0,21.0,NaN,NaN,NaN,NaN,38.00,-122.50,SAN FRANCISCO,7.0,86400
39,1824,4.0,20.0,NaN,NaN,NaN,NaN,18.40,-64.90,SAINT THOMAS,7.0,86400

To convert date/time values to a datetime data type, we need real values for all missing ones. We'll set those missing time values to zero.

In [9]:
dataframe['HOUR'] = dataframe['HOUR'].fillna(value=0)
dataframe['MINUTE'] = dataframe['MINUTE'].fillna(value=0)
dataframe['SECOND'] = dataframe['SECOND'].fillna(value=0)
dataframe

,YEAR,MONTH,DAY,HOUR,MINUTE,SECOND,MAGNITUDE,LATITUDE,LONGITUDE,CITY,MMI,accuracy
0,1904,8.0,27.0,21.0,56.0,6.0,8.3,65.48,-150.30,RAMPART,6.0,0
1,1908,5.0,15.0,8.0,31.0,36.0,7.0,59.00,-141.00,CAPE YAKATAGA,6.0,0
2,1909,9.0,8.0,17.0,49.0,48.0,7.4,52.50,-169.00,ALEUTIAN ISLANDS,5.0,0
3,1911,9.0,22.0,5.0,1.0,24.0,6.9,60.50,-149.00,PRINCE WILLIAM SOUND,8.0,0
4,1912,1.0,31.0,20.0,11.0,48.0,7.3,61.00,-147.50,VALDES,6.0,0
5,1912,6.0,7.0,9.0,55.0,54.0,6.4,59.00,-153.00,KANATAK,5.0,0
6,1912,6.0,10.0,16.0,6.0,6.0,7.0,59.00,-153.00,NaN,3.0,0
7,1912,7.0,7.0,7.0,57.0,36.0,7.4,64.00,-147.00,KENNECOTT,5.0,0
8,1912,7.0,7.0,21.0,57.0,36.0,7.4,64.00,-147.00,FAIRBANKS,6.0,0
9,1912,11.0,7.0,7.0,40.0,24.0,7.5,57.50,-155.00,SEWARDOTT,NaN,0
10,1727,11.0,10.0,3.0,40.0,0.0,NaN,42.80,-70.80,NEWBURY,8.0,60
11,1732,9.0,16.0,16.0,0.0,0.0,NaN,45.50,-73.60,MONTREAL,9.0,60
12,1737,2.0,17.0,21.0,30.0,0.0,NaN,42.40,-71.00,BOSTON,4.0,60
13,1737,12.0,19.0,4.0,0.0,0.0,NaN,40.80,-74.00,NEW YORK,7.0,60
14,1741,6.0,24.0,15.0,35.0,0.0,NaN,42.20,-71.20,BOSTON,5.0,60
15,1744,6.0,14.0,15.0,15.0,0.0,NaN,42.60,-70.90,BOSTON,6.0,60
16,1755,11.0,18.0,9.0,11.0,0.0,NaN,42.60,-70.00,BOSTON,8.0,60
17,1755,11.0,18.0,10.0,29.0,0.0,NaN,42.60,-70.00,SCITUATE,7.0,60
18,1755,11.0,23.0,1.0,27.0,0.0,NaN,42.70,-70.30,BOSTON,5.0,60
19,1758,4.0,25.0,2.0,30.0,0.0,NaN,38.90,-76.50,ANNAPOLIS,4.0,60
20,1857,9.0,8.0,21.0,0.0,0.0,NaN,NaN,NaN,KODIAK,5.0,3600
21,1872,11.0,23.0,5.0,0.0,0.0,NaN,42.00,-124.00,CRESCENT CITY,7.0,3600
22,1873,11.0,23.0,5.0,0.0,0.0,NaN,42.00,-124.00,JACKSONVILLE,6.0,3600
23,1880,9.0,29.0,4.0,0.0,0.0,NaN,56.00,-156.00,CHIRIKOF ISLAND,6.0,3600
24,1883,10.0,6.0,18.0,0.0,0.0,NaN,59.00,-154.00,MT ST AUGUSTINE,5.0,3600
25,1914,12.0,29.0,1.0,0.0,0.0,NaN,NaN,NaN,AGUANGA,5.0,3600
26,1915,4.0,3.0,2.0,0.0,0.0,NaN,NaN,NaN,EL CAJON,3.0,3600
27,1917,6.0,6.0,5.0,0.0,0.0,NaN,NaN,NaN,SAUGUS,3.0,3600
28,1917,6.0,17.0,6.0,0.0,0.0,NaN,NaN,NaN,HEBER,5.0,3600
29,1918,1.0,14.0,0.0,0.0,0.0,NaN,40.83,-124.17,EUREKA,NaN,3600
30,1785,7.0,11.0,0.0,0.0,0.0,NaN,18.50,-64.00,TORTOLA,7.0,86400
31,1788,7.0,27.0,0.0,0.0,0.0,NaN,55.00,-161.00,ALASKA PENINSULA AREA,5.0,86400
32,1800,3.0,17.0,0.0,0.0,0.0,NaN,39.80,-75.20,PHILADELPHIA,5.0,86400
33,1800,10.0,11.0,0.0,0.0,0.0,NaN,37.00,-119.50,SAN JUAN BAUTISTA,7.0,86400
34,1800,11.0,29.0,0.0,0.0,0.0,NaN,39.80,-75.20,PHILADELPHIA,5.0,86400
35,1803,5.0,25.0,0.0,0.0,0.0,NaN,32.50,-117.00,SAN DIEGO,6.0,86400
36,1805,8.0,12.0,0.0,0.0,0.0,NaN,41.50,-72.50,EAST HADDAM,5.0,86400
37,1806,3.0,24.0,0.0,0.0,0.0,NaN,34.50,-119.50,SANTA BARBARA,6.0,86400
38,1808,6.0,21.0,0.0,0.0,0.0,NaN,38.00,-122.50,SAN FRANCISCO,7.0,86400
39,1824,4.0,20.0,0.0,0.0,0.0,NaN,18.40,-64.90,SAINT THOMAS,7.0,86400

Now convert the date/time columns into a datetime field

In [10]:
tcols = ['YEAR', 'MONTH', 'DAY', 'HOUR', 'MINUTE', 'SECOND']
dataframe['time'] = dataframe['time'] = pd.to_datetime(dataframe[tcols])
dataframe = dataframe.sort_values('time')
dataframe

,YEAR,MONTH,DAY,HOUR,MINUTE,SECOND,MAGNITUDE,LATITUDE,LONGITUDE,CITY,MMI,accuracy,time
10,1727,11.0,10.0,3.0,40.0,0.0,NaN,42.80,-70.80,NEWBURY,8.0,60,1727-11-10 03:40:00
11,1732,9.0,16.0,16.0,0.0,0.0,NaN,45.50,-73.60,MONTREAL,9.0,60,1732-09-16 16:00:00
12,1737,2.0,17.0,21.0,30.0,0.0,NaN,42.40,-71.00,BOSTON,4.0,60,1737-02-17 21:30:00
13,1737,12.0,19.0,4.0,0.0,0.0,NaN,40.80,-74.00,NEW YORK,7.0,60,1737-12-19 04:00:00
14,1741,6.0,24.0,15.0,35.0,0.0,NaN,42.20,-71.20,BOSTON,5.0,60,1741-06-24 15:35:00
15,1744,6.0,14.0,15.0,15.0,0.0,NaN,42.60,-70.90,BOSTON,6.0,60,1744-06-14 15:15:00
16,1755,11.0,18.0,9.0,11.0,0.0,NaN,42.60,-70.00,BOSTON,8.0,60,1755-11-18 09:11:00
17,1755,11.0,18.0,10.0,29.0,0.0,NaN,42.60,-70.00,SCITUATE,7.0,60,1755-11-18 10:29:00
18,1755,11.0,23.0,1.0,27.0,0.0,NaN,42.70,-70.30,BOSTON,5.0,60,1755-11-23 01:27:00
19,1758,4.0,25.0,2.0,30.0,0.0,NaN,38.90,-76.50,ANNAPOLIS,4.0,60,1758-04-25 02:30:00
30,1785,7.0,11.0,0.0,0.0,0.0,NaN,18.50,-64.00,TORTOLA,7.0,86400,1785-07-11 00:00:00
31,1788,7.0,27.0,0.0,0.0,0.0,NaN,55.00,-161.00,ALASKA PENINSULA AREA,5.0,86400,1788-07-27 00:00:00
32,1800,3.0,17.0,0.0,0.0,0.0,NaN,39.80,-75.20,PHILADELPHIA,5.0,86400,1800-03-17 00:00:00
33,1800,10.0,11.0,0.0,0.0,0.0,NaN,37.00,-119.50,SAN JUAN BAUTISTA,7.0,86400,1800-10-11 00:00:00
34,1800,11.0,29.0,0.0,0.0,0.0,NaN,39.80,-75.20,PHILADELPHIA,5.0,86400,1800-11-29 00:00:00
35,1803,5.0,25.0,0.0,0.0,0.0,NaN,32.50,-117.00,SAN DIEGO,6.0,86400,1803-05-25 00:00:00
36,1805,8.0,12.0,0.0,0.0,0.0,NaN,41.50,-72.50,EAST HADDAM,5.0,86400,1805-08-12 00:00:00
37,1806,3.0,24.0,0.0,0.0,0.0,NaN,34.50,-119.50,SANTA BARBARA,6.0,86400,1806-03-24 00:00:00
38,1808,6.0,21.0,0.0,0.0,0.0,NaN,38.00,-122.50,SAN FRANCISCO,7.0,86400,1808-06-21 00:00:00
39,1824,4.0,20.0,0.0,0.0,0.0,NaN,18.40,-64.90,SAINT THOMAS,7.0,86400,1824-04-20 00:00:00
20,1857,9.0,8.0,21.0,0.0,0.0,NaN,NaN,NaN,KODIAK,5.0,3600,1857-09-08 21:00:00
21,1872,11.0,23.0,5.0,0.0,0.0,NaN,42.00,-124.00,CRESCENT CITY,7.0,3600,1872-11-23 05:00:00
22,1873,11.0,23.0,5.0,0.0,0.0,NaN,42.00,-124.00,JACKSONVILLE,6.0,3600,1873-11-23 05:00:00
23,1880,9.0,29.0,4.0,0.0,0.0,NaN,56.00,-156.00,CHIRIKOF ISLAND,6.0,3600,1880-09-29 04:00:00
24,1883,10.0,6.0,18.0,0.0,0.0,NaN,59.00,-154.00,MT ST AUGUSTINE,5.0,3600,1883-10-06 18:00:00
0,1904,8.0,27.0,21.0,56.0,6.0,8.3,65.48,-150.30,RAMPART,6.0,0,1904-08-27 21:56:06
1,1908,5.0,15.0,8.0,31.0,36.0,7.0,59.00,-141.00,CAPE YAKATAGA,6.0,0,1908-05-15 08:31:36
2,1909,9.0,8.0,17.0,49.0,48.0,7.4,52.50,-169.00,ALEUTIAN ISLANDS,5.0,0,1909-09-08 17:49:48
3,1911,9.0,22.0,5.0,1.0,24.0,6.9,60.50,-149.00,PRINCE WILLIAM SOUND,8.0,0,1911-09-22 05:01:24
4,1912,1.0,31.0,20.0,11.0,48.0,7.3,61.00,-147.50,VALDES,6.0,0,1912-01-31 20:11:48
5,1912,6.0,7.0,9.0,55.0,54.0,6.4,59.00,-153.00,KANATAK,5.0,0,1912-06-07 09:55:54
6,1912,6.0,10.0,16.0,6.0,6.0,7.0,59.00,-153.00,NaN,3.0,0,1912-06-10 16:06:06
7,1912,7.0,7.0,7.0,57.0,36.0,7.4,64.00,-147.00,KENNECOTT,5.0,0,1912-07-07 07:57:36
8,1912,7.0,7.0,21.0,57.0,36.0,7.4,64.00,-147.00,FAIRBANKS,6.0,0,1912-07-07 21:57:36
9,1912,11.0,7.0,7.0,40.0,24.0,7.5,57.50,-155.00,SEWARDOTT,NaN,0,1912-11-07 07:40:24
25,1914,12.0,29.0,1.0,0.0,0.0,NaN,NaN,NaN,AGUANGA,5.0,3600,1914-12-29 01:00:00
26,1915,4.0,3.0,2.0,0.0,0.0,NaN,NaN,NaN,EL CAJON,3.0,3600,1915-04-03 02:00:00
27,1917,6.0,6.0,5.0,0.0,0.0,NaN,NaN,NaN,SAUGUS,3.0,3600,1917-06-06 05:00:00
28,1917,6.0,17.0,6.0,0.0,0.0,NaN,NaN,NaN,HEBER,5.0,3600,1917-06-17 06:00:00
29,1918,1.0,14.0,0.0,0.0,0.0,NaN,40.83,-124.17,EUREKA,NaN,3600,1918-01-14 00:00:00

## Performing Association

The association function looks like this:

    associate(
        dataframe,
        time_column='time',
        lat_column='latitude',
        lon_column='longitude',
        mag_column='magnitude',
        time_tol_secs=16,
        dist_tol_km=100,
        mag_tol=0.5,
    )

Notice there are three tolerance fields that we can set, for time, distance, and magnitude. Whenever we compare *origin* (time, lat, lon, depth, magnitude) quantities between events in two catalogues, we must take into account the differences between those quantities in the two different catalogues. Note that it may take some exploration and analysis of the two catalogues to determine what these values are.

In a data set like this where we *know* the resolution of the data is not as high as we might desire, we need to take care to add that uncertainty to our tolerance fields.


In the cell below we'll extract subsets of our input catalogue by accuracy value (we could do this in a loop with the groupby() method, but we'll leave that as an exercise for the reader.)

Rows where seconds are present:

In [11]:
seconds_frame = dataframe[dataframe['accuracy'] == 0]
associated_seconds, _ = associate(seconds_frame, 
                                                  time_tol_secs=60, 
                                                  mag_column='MAGNITUDE', 
                                                  lat_column='LATITUDE',
                                                  lon_column='LONGITUDE'
                                                 )
associated_seconds

,YEAR,MONTH,DAY,HOUR,MINUTE,SECOND,MAGNITUDE,LATITUDE,LONGITUDE,CITY,MMI,accuracy,time,comcat_id,comcat_time,comcat_latitude,comcat_longitude,comcat_depth,comcat_magnitude,comcat_score
1,1908,5.0,15.0,8.0,31.0,36.0,7.0,59.0,-141.0,CAPE YAKATAGA,6.0,0,1908-05-15 08:31:36,iscgem16957994,1908-05-15 08:31:35.760,59.626,-141.795,15.0,6.72,0.0
5,1912,6.0,7.0,9.0,55.0,54.0,6.4,59.0,-153.0,KANATAK,5.0,0,1912-06-07 09:55:54,ushis532,1912-06-07 09:55:54.000,59.000,-153.000,NaN,6.40,0.0
6,1912,6.0,10.0,16.0,6.0,6.0,7.0,59.0,-153.0,NaN,3.0,0,1912-06-10 16:06:06,ushis533,1912-06-10 16:06:06.000,59.000,-153.000,NaN,6.90,0.0
7,1912,7.0,7.0,7.0,57.0,36.0,7.4,64.0,-147.0,KENNECOTT,5.0,0,1912-07-07 07:57:36,iscgem16958199,1912-07-07 07:57:39.750,63.604,-148.030,10.0,7.27,0.0
9,1912,11.0,7.0,7.0,40.0,24.0,7.5,57.5,-155.0,SEWARDOTT,NaN,0,1912-11-07 07:40:24,iscgem16958217,1912-11-07 07:40:21.500,57.592,-154.389,35.0,7.08,0.0

Rows where seconds are absent. Note here that all of our magnitude values are also missing. The associate function works best if provided time, location, and magnitude data, but it can attempt to associate events even if location and magnitude data are not present.

In [12]:
minutes_frame = dataframe[dataframe['accuracy'] == 60]
associated_minutes, _ = associate(minutes_frame, 
                                                  time_tol_secs=300, 
                                                  mag_column='MAGNITUDE', 
                                                  lat_column='LATITUDE',
                                                  lon_column='LONGITUDE'
                                                 )
associated_minutes

,YEAR,MONTH,DAY,HOUR,MINUTE,SECOND,MAGNITUDE,LATITUDE,LONGITUDE,CITY,MMI,accuracy,time,comcat_id,comcat_time,comcat_latitude,comcat_longitude,comcat_depth,comcat_magnitude,comcat_score
10,1727,11.0,10.0,3.0,40.0,0.0,NaN,42.8,-70.8,NEWBURY,8.0,60,1727-11-10 03:40:00,official17271110034000000,1727-11-10 03:40:00,42.8417,-70.9788,NaN,5.5,0.0
11,1732,9.0,16.0,16.0,0.0,0.0,NaN,45.5,-73.6,MONTREAL,9.0,60,1732-09-16 16:00:00,ushis4,1732-09-16 16:00:00,45.5000,-73.6000,NaN,6.3,0.0
15,1744,6.0,14.0,15.0,15.0,0.0,NaN,42.6,-70.9,BOSTON,6.0,60,1744-06-14 15:15:00,ushis6,1744-06-14 15:15:00,42.6000,-70.9000,NaN,4.7,0.0
16,1755,11.0,18.0,9.0,11.0,0.0,NaN,42.6,-70.0,BOSTON,8.0,60,1755-11-18 09:11:00,ushis7,1755-11-18 09:11:35,42.7000,-70.3000,NaN,5.9,0.0

In the cases above, there are no alternate events that matched all of the input criteria. Below is an example where we have events that fall within a large time window. We will see that the score for the chosen event is lower than the scores for the other candidate events.

In [13]:
ambiguous = pd.DataFrame({'time': [datetime(2019, 7, 6, 4, 20, 17)],
                              'latitude': [35.78],
                              'longitude': [-117.614],
                              'magnitude': 4.3})
ambiguous

                 time  latitude  longitude  magnitude
0 2019-07-06 04:20:17     35.78   -117.614        4.3

In [14]:
associated, alternates = associate(ambiguous, time_tol_secs=120)
associated[['time','latitude','longitude','comcat_time','comcat_latitude','comcat_longitude','comcat_score']]

,time,latitude,longitude,comcat_time,comcat_latitude,comcat_longitude,comcat_score
0,2019-07-06 04:20:17,35.78,-117.614,2019-07-06 04:19:15.480,35.785,-117.6175,0.781111

In [15]:
alternates[['time','latitude','longitude','score']]

                     time   latitude   longitude     score
1 2019-07-06 04:19:54.940  35.885000 -117.717000  1.157689
2 2019-07-06 04:19:56.010  35.580833 -117.404167  1.204837
3 2019-07-06 04:21:35.820  35.778667 -117.612167  1.037576